body{
    background-color:rgb(255,255,255);
}

.section-1{
    background-color: rgb(112,48,204);
    width: 100%;
    height: 550px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.logo{
    width: 80px;
}
.nav{
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    padding-left: 100px;
}
.nav-items{
    text-decoration: none;
    color:rgb(255,255,255);
    font-family:sans-serif;
    font-size: 13px;
    margin-right: 30px;
}
i{
visibility: hidden;
}
.nav-items:hover{
    border-bottom:1px solid rgb(206,107,222);
    color:rgb(27,188,239);
    cursor: pointer;
}
.nav-links{
    position: relative;
    top:4px;
    left:290px
}
.free-trail{
    color:rgb(255,255,255);
    background-color: rgb(27,188,239);
    padding:10px 18px;
    border:none;
    outline:none;
    font-size: 11px;
    cursor: pointer;
}
.free-trail:hover{
    color: rgb(27,188,239);
    background-color: rgb(255,255,255);
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 90px;
}
.image-1{
    width: 500px;
    position: relative;
    left:60px
}
.title{
    color:rgb(255,255,255);
    font-family: sans-serif;
    font-size: 45px;
}
.content-para{
    color:rgb(255,255,255);
    font-family: sans-serif;
    font-size: 13px;
}
.section-2{
    display: flex;
    flex-direction: row;
    margin-top: 130px;
    margin-left: 70px;
}

.image-2{
    width: 400px;
}
.sec2-right{
    margin-left: 120px;
}
.arrow{
    width: 15px;
    position: relative;
    top:31px;
    right: 20px;
}
.card-title{
    font-family: sans-serif;
    font-size: 13px;
}
.title-2{
    font-family: sans-serif;
}
.card-content{
    font-family: sans-serif;
    font-size: 10px;
    line-height: 18px;
}
.small-cards{
    position: relative;
    left:30px
}
.feature{
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
}
.section-3{
    margin-top: 30px;
    font-weight: 700;
    
}
.big-card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.big-card{
    background-color: rgb(255,255,255);
    box-shadow: 10px 5px 5px rgb(191,191,191);
    margin-right: 10px;
    border-radius: 20px;
    width: 18%;
    position: relative;
    left:90px;
    margin-bottom: 50px;
}
.big-card:hover .bigcard-content{
    color:rgb(255,255,255);
    background-color:rgb(100,41,183);
    border-radius: 20px;
    cursor: pointer;
}
.bigcard-content{
    text-align: center;
    position: relative;
    top:10px;
    padding-top: 2px;
}
.pic-1{
    width: 80px;
    padding:30px;
    padding-bottom: 0px;
    position: relative;
    left:20px
}
.bg-title{
    font-family: sans-serif;
    margin-bottom: 0px;
    font-size: 14px;
}
.bg-content{
    font-family: sans-serif;
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
}
.sec2-content{
position: relative;
left: 50px;
}
@media screen and (max-width: 768px) {
.logo{
    height: 25px;
    left: 0px;
}
i{
    display: block;
    visibility: visible;
    font-size: 25px;
    color: aliceblue;
}
.nav-items{
    display: none;
}
.nav-links{
left: 130px;
}

.content{
    display: flex;
    flex-direction: column;
}
.content-right{
    margin-left: 0px;
}
.image-1{
    width: 500px;
    left: 0px;
}
.section-2{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50px;
}
.pic-1{
    width: 80px;
    padding:30px;
    padding-bottom: 0px;
    position: relative;
    left:-30px
} 
}
